# Djangoの設定モジュール (local / production)
DJANGO_SETTINGS_MODULE=config.settings.local

# Djangoのシークレットキー (python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())" で生成)
DJANGO_SECRET_KEY=your-secret-key-here

# 本番環境のみ必要
DJANGO_ALLOWED_HOSTS=example.com,www.example.com
AI_ANALYSIS_BASE_URL=http://example.com/
